body,
html {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.container,
.result-container {
    width: calc(100% - 20px);
    height: calc(100% - 110px);
    padding: 10px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    all: unset;
    height: 50px;
    padding-top: 20px;
    width: 100%;
    font-weight: 900;
    font-size: 30px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

label {
    padding: 0 !important;
    margin: 0 !important;
}

.input {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid;
    border-radius: 7px;
}

.content {
    height: calc(100% - 300px);
    resize: none;
    min-height: 300px;
    margin-bottom: 10px;
}

.btn {
    width: 100%;
    text-align: center;
    cursor: pointer;
    background-color: blueviolet;
    color: white;
    padding: 10px;
    border-radius: 7px;
    transition: all .10s linear;
    user-select: none;
    border: 0;
}

.btn:disabled {
    background-color: rgb(158, 67, 244);
}

.btn:active:not(:disabled) {
    scale: 0.98;
}

.result-container {
    display: none;
    justify-content: center;
    flex-direction: column;
}

* {
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
    font-family: 'ABeeZee', sans-serif;
    outline: none;
}