body,
html {
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.btn {
    all: unset;
    width: calc(100% - 40px);
    max-width: 600px;
    text-align: center;
    cursor: pointer;
    background-color: blueviolet;
    color: white;
    padding: 10px;
    border-radius: 7px;
    transition: all .10s linear;
    user-select: none;
}

.btn:active {
    scale: 0.98;
}

* {
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
    font-family: 'ABeeZee', sans-serif;
    outline: none;
}