body,
html {
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    height: calc(100% - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container p {
    max-width: 500px;
    text-align: center;
    margin-top: 20px;
}

.container-2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.view-src-code-btn {
    all: unset;
    width: fit-content;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn {
    all: unset;
    width: calc(100% - 40px);
    max-width: 600px;
    text-align: center;
    cursor: pointer;
    background-color: blueviolet;
    color: white;
    padding: 10px;
    border-radius: 7px;
    transition: all .10s linear;
    user-select: none;
}

.btn:active {
    scale: 0.98;
}

* {
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
    font-family: 'ABeeZee', sans-serif;
    outline: none;
}